<div class="container">

{{!--Image Card--}}
<div class="row">
  <div class="column">
    <div class="card main">
      <div class="card-content white-text main">
        <span class="card-title">Mongo Scraper</span>
        <p>WSJ | Tech</p>
      </div>
      <div class="card-action">
        <a class="waves-effect waves-light btn" id="home" href="/">Home</a>
        <a class="waves-effect waves-light btn-small" id="savedArticles" href="/saved" style="background-color: lightgray">Saved Articles</a>
        {{!-- <a class="waves-effect waves-light btn" href="/clear">Clear</a> --}}
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="column" id="scrape-clear">
    <a class="btn small scrape-btn" href="/scrape">Scrape</a>
    <a class="btn small clear-btn" href="/clear">Clear</a>
  </div>
</div>


    <table>
        <tbody>

          {{#if articles}}
            {{#each articles}}
            <tr>
                {{!-- <td><a href="{{this.link}}">{{this.title}}</a></td>
                <td><a class="btn-small save" data-id="{{this.id}}">Save</a></td> --}}



                <td><h6>{{this.title}}</h6></td>
                <td><a class="btn-small view" data-id="{{this.id}}" href="{{this.link}}" target="_blank">View</a></td>
                <td><a class="btn-small save" data-id="{{this.id}}">Save</a></td>




                {{!-- CARD --}}
                {{!-- <div class="row">
                  <div class="col s12">
                    <div class="card">
                      <div class="card-content">
                        <h6 class="card-title">{{this.title}}</h6>
                        <p></p>
                      </div>
                      <div class="card-action article-buttons">
                        <a class="btn-small view" data-id="{{this.id}}" href="{{this.link}}" target="_blank">View</a>
                        <a class="btn-small save" data-id="{{this.id}}">Save</a>
                      </div>
                    </div>
                  </div>
                </div> --}}
                
            </tr>
            {{/each}}
            {{else}}
              <td>You have not scraped any articles yet.</td>
          {{/if}}
          
        </tbody>
    </table>
    

</div>
      

