<div class="container">

{{!--Image Card--}}
<div class="row">
  <div class="column">
    <div class="card main">
      <div class="card-content white-text main">
        <span class="card-title">Mongo Scraper</span>
        <p>WSJ | Tech</p>
      </div>
      <div class="card-action">
        <a class="waves-effect waves-light btn-small" id="home" href="/"  style="background-color: lightgray">Home</a>
        <a class="waves-effect waves-light btn" id="savedArticles" href="/saved">Saved Articles</a>
        {{!-- <a class="waves-effect waves-light btn" href="/clear">Clear</a> --}}
      </div>
    </div>
  </div>
</div>


  <table>
      <tbody>

        {{!-- {{#if articles}}
          {{#each articles}} --}}

          {{#each articles}}
          {{#if saved}}
          <tr>
              {{!-- <td><a class="title">{{title}}</a></td> --}}
              <td><h6 class="title">{{title}}</h6></td>
              <td><a class="btn-small view" data-id="{{id}}" href="{{link}}" target="_blank">View</a></td>
              <td><button data-target="modal1" href="#modal1" class="btn-small addComment modal-trigger" data-id="{{id}}">Comment</button></td>
              <td><a class="btn-small delete" data-id="{{id}}">Delete</a></td>
              
          </tr>


          
          <!--Modal-->
          {{!-- <div id="modal1" class="modal">
            <div class="modal-content">

              <span class="modal-title">{{title}}</span>
              <p>This is a description for the article. Also, need to get it on the main page for scraping. Please make sure to include it in scraping.</p>

              <div class="input-field col s12">
                <textarea id="note-input" class="materialize-textarea"></textarea>
                <label for="note-input">Add a Note</label>
                <button class="btn-small waves-effect waves-light" type="submit" name="action">Save</button>
              </div>
              

              <ul class="collection">
                <li class="collection-item">
                  <span class="title">Title of the Note goes here</span>
                  <p>01/11/20</p>
                  <p>An actual note here</p>
                </li>

                <li class="collection-item">
                  <span class="title">Title of the Note goes here</span>
                  <p>01/11/20</p>
                  <p>Mmm remembered something else. This article reminded me of this one book.</p>
                </li>
              </ul>

            </div>

          </div>   --}}
          <!--Modal ends-->

          
          {{/if}}
          {{else}}
            <td>You have not saved any articles.</td>
        {{/each}}
        
      </tbody>
  </table>


{{!-- {{#each articles}} --}}
  <!--Modal-->
  <div id="modal1" class="modal">
    <div class="modal-content">

      <h5 class="modal-title">{{title}}</h5>
      <p>This is a description for the article. Also, need to get it on the main page for scraping. Please make sure to include it in scraping.</p>

      <div class="input-field col s12">
        <textarea id="note-input" class="materialize-textarea"></textarea>
        <label for="note-input">Add a Note</label>
        <button class="btn-small waves-effect waves-light" type="submit" name="action">Save</button>
      </div>
      
      <!--Previous Notes-->
      <ul class="collection">
        <li class="collection-item">
          <span class="title">Title of the Note goes here</span>
          <p>01/11/20</p>
          <p>An actual note here</p>
        </li>

        <li class="collection-item">
          <span class="title">Title of the Note goes here</span>
          <p>01/11/20</p>
          <p>Mmm remembered something else. This article reminded me of this one book.</p>
        </li>
      </ul>
      <!--//Previous Notes-->

    </div>

  </div>  
  <!--//Modal-->
  

  {{!-- {{/each}} --}}
  

    

</div>