<div class="container">

{{!--Image Card--}}
<div class="row">
  <div class="column">
    <div class="card main">
      <div class="card-content white-text main">
        <span class="card-title">Mongo Scraper</span>
        <p>WSJ | Tech</p>
      </div>
      <div class="card-action">
        <a class="waves-effect waves-light btn-small" id="home" href="/"  style="background-color: lightgray">Home</a>
        <a class="waves-effect waves-light btn" id="savedArticles" href="/saved">Saved Articles</a>
        {{!-- <a class="waves-effect waves-light btn" href="/clear">Clear</a> --}}
      </div>
    </div>
  </div>
</div>


  <table>
      <tbody>

        {{!-- {{#if articles}}
          {{#each articles}} --}}

          {{#each articles}}
          {{#if saved}}
          <tr>
              {{!-- <td><a class="title">{{title}}</a></td> --}}
              <td><h6 class="title">{{title}}</h6></td>
              <td><a class="btn-small view" data-id="{{id}}" href="{{link}}" target="_blank">View</a></td>
              <td><button data-target="modal1" href="#modal1" class="btn-small addComment modal-trigger" data-id="{{id}}">Comment</button></td>
              <td><a class="btn-small delete" data-id="{{id}}">Delete</a></td>
              
          </tr>

          
          {{/if}}
          {{else}}
            <td>You have not saved any articles.</td>
        {{/each}}
        
      </tbody>
  </table>

  <!--Modal-->
  <div id="modal1" class="modal">
    <div class="modal-content">

      <h5 class="modal-title">{{title}}</h5>

      <div class="row">

        {{!-- <div class="input-field col s12">
          <input id="note-title" type="password" class="validate">
          <label for="note-title">Note Title</label>
        </div> --}}

        <div class="input-field col s12">
          <textarea id="note-title" class="materialize-textarea"></textarea>
          <label for="note-title">Note Title</label>
        </div>

        <div class="input-field col s12">
          <textarea id="note-input" class="materialize-textarea"></textarea>
          <label for="note-input">Type a note here</label>
          <button class="btn-small waves-effect waves-light" id="save-note-btn" data-id="{{id}}" type="submit" name="action">Save</button>
        </div>

      </div>
      
      <!--Previous Notes-->
      <ul class="collection">
        
        <li class="collection-item">
          <span class="title"><h5>And another test title here</h5></span>
          <p>01/11/20</p>
          <p>An actual note here</p>
        </li>

      </ul>
      <!--//Previous Notes-->

    </div>

  </div>  
  <!--//Modal-->
  

  {{!-- {{/each}} --}}
  

    

</div>